$black: #000000;

.Notification {
    align-items: flex-start;
    padding: 10px 17px;
    column-gap: 19.5px;
    box-shadow: 0px 0px 2px 1px hsla(0, 0%, 67%, 0.15);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    background-color: var(--very-light-grayish-blue);
    grid-template-columns: auto 1fr;

    &-Unread {
        background-color: var(--light-grayish-blue-1);
    }

    img {
        width: 4.5rem;
    }

    &.WithPicture {        
        grid-template-columns: auto 1fr auto;
    }

    @media screen and (max-width: 1600px) {
        padding: 10px 14px;
        column-gap: 14px;
    }
}

.AvatarUser {
    border-radius: 50%;
    -webkit-border-radius: 50%;
}

.NotificationBody {
    gap: 4px;
}

.NotificationContent {
    font-weight: 700;
    letter-spacing: 0.002rem;
    line-height: 1.5;
    align-items: flex-start;

    a {
        color: $black;
    
        &:hover {
            color: var(--blue);
        }
    }

    .GroupName {
        color: var(--blue);
    }
}

.NotificationDescription {
    font-weight: 500;
    color: var(--dark-grayish-blue);
}

.NotificationUnread {
    color: var(--red);
    align-items: flex-end;
    padding: 0 1px 4px;
    margin-left: 5px
}

.NotificationElapsedTime {
    color: var(--dark-grayish-blue);
    font-weight: 300;
}

.NotificationMessage {
    color: $black;
    padding: 20px;
    margin: 8px 0 2px;
    border: 1px solid var(--light-grayish-blue-2);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    font-weight: 300;
    line-height: 1.35;

    &:hover {
        background-color: var(--light-grayish-blue-1);
    }
}