.Notification {
    align-items: center;
    padding: 10px 17px;
    gap: 19.5px;
    box-shadow: 0px 0px 2px 1px hsla(0, 0%, 67%, 0.15);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    background-color: var(--very-light-grayish-blue);

    &-Unread {
        background-color: var(--light-grayish-blue-1);
    }
}

.AvatarUser {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
}

.NotificationBody {
    gap: 4px;
}

.NotificationContent {
    font-weight: 700;
    letter-spacing: 0.002rem;
    line-height: 1.5;

    a {
        color: #000000;
    
        &:hover {
            color: var(--blue);
        }
    }

    .GroupName {
        color: var(--blue);
    }
}

.NotificationDescription {
    font-weight: 500;
    color: var(--dark-grayish-blue);
}

.NotificationUnread {
    color: var(--red);
    align-items: flex-end;
    padding: 0 1px 4px;
    margin-left: 5px
}

.NotificationElapsedTime {
    color: var(--dark-grayish-blue);
    font-weight: 300;
}