*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

:root {
  /* Basic */
  --black: hsla(0, 0%, 0%, 0.1);
  --white: hsl(0, 0%, 100%);
  /* Primary */
  --red: hsl(1, 90%, 64%);
  --blue: hsl(219, 85%, 26%);
  /* Neutral */
  --very-light-grayish-blue: hsl(210, 60%, 98%);
  --light-grayish-blue-1: hsl(211, 68%, 94%);
  --light-grayish-blue-2: hsl(205, 33%, 90%);
  --grayish-blue: hsl(219, 14%, 63%);
  --dark-grayish-blue: hsl(219, 12%, 42%);
  --very-dark-blue: hsl(224, 21%, 14%);
  /* Font */
  --font-primary: 'Plus Jakarta Sans', sans-serif;
}

html {
  height: -webkit-fill-available;
  font-size: 62.5%;
}

body {
  background-color: var(--Very-dark-blue);
  font-family: var(--font-primary);
  font-size: 1.6rem;
}

#primary-content {
  width: 100%;
  min-height: 100vh;
  display: grid;
  place-items: center;
}